/* nuxt */
.__nuxt-error-page {
  height: 100vh;
}

/* global */
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.nanum-myeongjo {
  font-family: 'Nanum Myeongjo', serif;
}

.full-width {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

.main-nav .main-nav__inner {
  position: relative;
  height: 80px;
} 

.main-nav .main-nav__inner .logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50px;
  white-space: nowrap;
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.main-nav .main-nav__inner .menu {
  display: table;
  float: right;
  height: 100%;
}

.main-nav .main-nav__inner .menu > a {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
}

.main-nav .main-nav__inner .menu > a .submenu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}